{
  "openapi": "3.1.0",
  "info": {
    "title": "CNothing V4",
    "version": "4.0.0",
    "description": "OAuth and credential-injecting proxy infrastructure for AI agents. Agents receive grants and sanitized API responses, never OAuth tokens or client secrets. Prefer the MCP endpoint at /mcp for agent use. Human approval supports the Console and the CNothing iOS authenticator with APNs and device-bound signatures."
  },
  "servers": [{ "url": "https://cnothing.com" }],
  "tags": [
    { "name": "Agent", "description": "Bearer-authenticated operations used by an AI agent." },
    { "name": "User", "description": "Browser or iOS operations authenticated by a CNothing user session." },
    { "name": "iOS", "description": "Pairing, APNs registration, polling, and device-bound approval." },
    { "name": "Operator", "description": "Human administrative operations. Require a signed-in CNothing user with role=admin. The service bearer token is not a Console login." },
    { "name": "Service", "description": "Trusted machine operations authenticated by KEYSERVICE_BEARER_TOKEN (or CN_SERVICE_TOKEN). Bootstrap and recovery only." },
    { "name": "Authentication", "description": "GitHub and OIDC browser sign-in. Admins and users share this login." }
  ],
  "components": {
    "securitySchemes": {
      "agentToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Agent token issued once by POST /v4/agents. Configure it as CNOTHING_AGENT_TOKEN for the stdio MCP client, or as the Authorization bearer for hosted MCP/HTTP."
      },
      "userSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "cnothing_user_session",
        "description": "Browser session cookie. Device sessions may also use their bearer session token."
      },
      "adminToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Deprecated name for the service credential configured by KEYSERVICE_BEARER_TOKEN or CN_SERVICE_TOKEN. Not a human Console login. Used for POST /v4/admin/bootstrap."
      },
      "serviceToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Service credential configured by KEYSERVICE_BEARER_TOKEN or CN_SERVICE_TOKEN. Bootstrap, recovery, and trusted automation only."
      }
    },
    "parameters": {
      "ResourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": { "type": "string" }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["ok", "error"],
        "properties": {
          "ok": { "const": false },
          "error": { "type": "string" },
          "error_code": { "type": "string" }
        }
      },
      "AccessRequestInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["provider", "reason"],
        "properties": {
          "provider": { "type": "string", "examples": ["github"] },
          "hosts": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Optional API host allowlist. Omit to use the provider's safe defaults."
          },
          "reason": {
            "type": "string",
            "description": "Short human-readable explanation of why the agent needs access."
          },
          "user_id": {
            "type": "string",
            "description": "Optional iOS push target. Pass a GitHub username, github:username, a u_ share code, or a previously resolved CNothing user ID directly. Do not call or invent a user lookup endpoint."
          },
          "callback_url": {
            "type": "string",
            "format": "uri",
            "description": "Optional public HTTPS URL notified after approval or denial."
          },
          "issuer": {
            "type": "string",
            "format": "uri",
            "description": "Optional. Propose an unknown provider from its issuer. You may also pass an https issuer as provider."
          },
          "discovery_url": {
            "type": "string",
            "format": "uri",
            "description": "Optional OIDC discovery or RFC 8414 metadata URL used with a provider proposal."
          }
        }
      },
      "ProxyInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["grant_id", "method", "url"],
        "properties": {
          "grant_id": { "type": "string" },
          "method": { "type": "string", "enum": ["GET", "POST", "PUT", "PATCH", "DELETE", "HEAD"] },
          "url": { "type": "string", "format": "uri", "description": "Must be HTTPS and match the grant host allowlist." },
          "headers": { "type": "object", "additionalProperties": { "type": "string" } },
          "body": { "description": "JSON-compatible upstream request body." },
          "idempotency_key": { "type": "string", "description": "Optional. Retries of a side-effecting call reuse the same Transaction." }
        }
      },
      "PairDeviceInput": {
        "type": "object",
        "additionalProperties": false,
        "required": ["pairing_code", "public_key_jwk"],
        "properties": {
          "pairing_code": { "type": "string" },
          "device_name": { "type": "string" },
          "platform": { "type": "string", "default": "ios" },
          "public_key_jwk": { "type": "object", "description": "P-256 public key; the private key remains in the iOS Secure Enclave." }
        }
      },
      "DeviceVerdictInput": {
        "type": "object",
        "properties": {
          "connection_id": { "type": "string", "description": "Required when approving a delegation. Omitted for transaction approvals." },
          "allowed_hosts": { "type": "array", "items": { "type": "string" } },
          "allowed_methods": { "type": "array", "items": { "type": "string" } },
          "expires_at": { "type": "string", "format": "date-time" },
          "require_approval": { "type": "boolean", "description": "When true, the minted Mandate opts into Transaction Intent: later non-GET proxy_request calls need a per-action approval." },
          "challenge_id": { "type": "string", "description": "Required for a paired-device session." },
          "signature": { "type": "string", "description": "Base64url P-256 signature from the paired device." }
        }
      }
    }
  },
  "paths": {
    "/v4/providers": {
      "get": {
        "tags": ["Agent"],
        "summary": "List active, connectable OAuth providers",
        "description": "Call this before request_access. It returns public provider metadata only.",
        "responses": { "200": { "description": "Active providers." } }
      },
      "post": {
        "tags": ["Operator"],
        "summary": "Create an OAuth provider",
        "security": [{ "userSession": [] }],
        "responses": { "201": { "description": "Provider created." } }
      }
    },
    "/v4/providers/admin": {
      "get": {
        "tags": ["Operator"],
        "summary": "List the provider registry without exposing secrets",
        "description": "Each item includes stored status plus registry_status (discovered | unverified | reviewed | active | disabled), source, registration_method, and the last validation result.",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "Provider administration views." } }
      }
    },
    "/v4/providers/proposals": {
      "post": {
        "tags": ["Agent", "Operator"],
        "summary": "Propose a provider from untrusted discovery metadata",
        "description": "Looks up the registry by slug or issuer. If missing, runs OIDC / OAuth authorization-server discovery through the same SSRF checks as the proxy and inserts an unconfigured row for operator review. Does not activate the provider. MCP tools are unchanged.",
        "security": [{ "agentToken": [] }, { "userSession": [] }],
        "responses": { "201": { "description": "Existing or newly proposed provider." } }
      }
    },
    "/v4/providers/{id}": {
      "get": {
        "tags": ["Agent"],
        "summary": "Get public provider metadata",
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "200": { "description": "Provider." }, "404": { "description": "Not found." } }
      },
      "patch": {
        "tags": ["Operator"],
        "summary": "Review, activate, disable, or update OAuth metadata",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "200": { "description": "Updated registry view." } }
      }
    },
    "/v4/providers/{id}/credentials": {
      "patch": {
        "tags": ["Operator"],
        "summary": "Store provider client credentials in the Vault",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "200": { "description": "Credentials updated; secret values are never returned." } }
      }
    },
    "/v4/access-requests": {
      "post": {
        "tags": ["Agent"],
        "summary": "Request a connection-level grant",
        "description": "Use the returned approval_url exactly as provided. If user_id resolves to a paired user, CNothing also sends an iOS push. The agent must then poll GET /v4/access-requests/{id}; it must not browse, rewrite, or POST to the approval URL. If the provider is unknown, pass issuer or discovery_url (or an https issuer as provider) to create a registry proposal; the response status is then provider_review_required until an operator activates it.",
        "security": [{ "agentToken": [] }],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AccessRequestInput" } } }
        },
        "responses": { "201": { "description": "Pending request, exact human approval URL, and push/onboarding status." } }
      }
    },
    "/v4/access-requests/{id}": {
      "get": {
        "tags": ["Agent", "User"],
        "summary": "Poll request status or load approval details",
        "security": [{ "agentToken": [] }, { "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "200": { "description": "Request status. Once approved, the agent receives grant_id, not an OAuth token." } }
      }
    },
    "/v4/access-requests/pending": {
      "get": {
        "tags": ["iOS", "User"],
        "summary": "List pending approvals for the signed-in user",
        "description": "Used by the iOS authenticator as a resilient fallback when APNs delivery is delayed. Each item is an ApprovalRequest; today's rows have type=delegation.",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "Pending approvals." } }
      }
    },
    "/v4/access-requests/{id}/challenge": {
      "post": {
        "tags": ["iOS"],
        "summary": "Issue a one-time device approval challenge",
        "description": "Only a session created by device pairing may request this nonce.",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "201": { "description": "Nonce and expiry for Secure Enclave signing." } }
      }
    },
    "/v4/access-requests/{id}/approve": {
      "post": {
        "tags": ["iOS", "User"],
        "summary": "Approve access and create a scoped grant",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceVerdictInput" } } } },
        "responses": { "201": { "description": "Delegation mints a Grant. A transaction approval authorizes the existing Mandate and returns transaction_id; no new Grant is minted. Paired-device sessions require a valid challenge signature." } }
      }
    },
    "/v4/access-requests/{id}/deny": {
      "post": {
        "tags": ["iOS", "User"],
        "summary": "Deny an access request",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "requestBody": { "content": { "application/json": { "schema": { "$ref": "#/components/schemas/DeviceVerdictInput" } } } },
        "responses": { "200": { "description": "Request denied. Paired-device sessions require a valid challenge signature." } }
      }
    },
    "/v4/proxy": {
      "post": {
        "tags": ["Agent"],
        "summary": "Call an approved third-party HTTPS API",
        "description": "CNothing injects the OAuth credential server-side, strips agent-supplied credential headers, enforces method and host constraints, evaluates the mandate's opt-in policy, blocks SSRF, redacts secrets, and audits the call. When the mandate set require_approval, a write returns status=approval_required with the same approval_url shape as request_access; after the principal approves, retry the same proxy_request to execute.",
        "security": [{ "agentToken": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ProxyInput" } } } },
        "responses": { "200": { "description": "Sanitized upstream status, headers, and body." } }
      }
    },
    "/v4/grants": {
      "get": {
        "tags": ["Agent", "User"],
        "summary": "List grants visible to the current principal",
        "description": "A grant is the v4 representation of a Mandate: delegated authority from a principal to an agent. The response keeps allowed_hosts / allowed_methods and adds principal, constraints, actions, issued_at, and revoked_at.",
        "security": [{ "agentToken": [] }, { "userSession": [] }],
        "responses": { "200": { "description": "Agent grants or user-owned grants." } }
      }
    },
    "/v4/grants/{id}": {
      "patch": {
        "tags": ["User"],
        "summary": "Update mandate constraints on a grant",
        "description": "The granting user can opt a live Mandate into require_approval so later writes become Transaction Intents. GET is never gated.",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["require_approval"],
                "properties": { "require_approval": { "type": "boolean" } }
              }
            }
          }
        },
        "responses": { "200": { "description": "Updated grant." } }
      }
    },
    "/v4/grants/{id}/revoke": {
      "post": {
        "tags": ["User"],
        "summary": "Revoke a grant",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "200": { "description": "Grant revoked." } }
      }
    },
    "/v4/connections": {
      "get": {
        "tags": ["User"],
        "summary": "List the user's third-party OAuth connections",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "Connections without credentials." } }
      }
    },
    "/v4/connections/{id}": {
      "delete": {
        "tags": ["User"],
        "summary": "Revoke a third-party connection",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "200": { "description": "Connection revoked." } }
      }
    },
    "/v4/oauth/connect/start": {
      "post": {
        "tags": ["User"],
        "summary": "Start connecting a third-party account",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "Provider authorization URL." } }
      }
    },
    "/v4/oauth/callback/{slug}": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Complete a third-party OAuth connection",
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "code", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "state", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "302": { "description": "Redirect back to the Console." } }
      }
    },
    "/v4/devices/pairing-codes": {
      "post": {
        "tags": ["iOS", "User"],
        "summary": "Create a short-lived iOS pairing code",
        "security": [{ "userSession": [] }],
        "responses": { "201": { "description": "Pairing code and expiry." } }
      }
    },
    "/v4/devices/pair": {
      "post": {
        "tags": ["iOS"],
        "summary": "Pair an iOS authenticator",
        "description": "Consumes the code, registers the device public key, and returns a device session token. No existing session is required.",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PairDeviceInput" } } } },
        "responses": { "201": { "description": "Paired device and device session token." } }
      }
    },
    "/v4/devices": {
      "get": {
        "tags": ["iOS", "User"],
        "summary": "List paired devices",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "Devices without private keys or full push tokens." } }
      }
    },
    "/v4/devices/{id}": {
      "delete": {
        "tags": ["iOS", "User"],
        "summary": "Revoke a paired device and disable push",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "200": { "description": "Device revoked." } }
      }
    },
    "/v4/devices/{id}/push-token": {
      "post": {
        "tags": ["iOS"],
        "summary": "Register or rotate an APNs device token",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "200": { "description": "Push token registered." } }
      }
    },
    "/v4/users/share-codes": {
      "post": {
        "tags": ["iOS", "User"],
        "summary": "Issue a short-lived u_ share code for agent targeting",
        "security": [{ "userSession": [] }],
        "responses": { "201": { "description": "Share code and expiry." } }
      }
    },
    "/v4/users/me/agent-id": {
      "get": {
        "tags": ["iOS", "User"],
        "summary": "Get the identifier a human can give to an agent",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "Canonical user ID and share-code status." } }
      }
    },
    "/v4/agents": {
      "get": {
        "tags": ["Operator"],
        "summary": "List agents",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "Agents without token hashes." } }
      },
      "post": {
        "tags": ["Operator"],
        "summary": "Enroll an agent",
        "description": "Returns the agent token once. Store it in a secret manager; CNothing stores only its hash.",
        "security": [{ "userSession": [] }],
        "responses": { "201": { "description": "Agent and one-time plaintext access token." } }
      }
    },
    "/v4/agents/{id}": {
      "delete": {
        "tags": ["Operator"],
        "summary": "Revoke an agent token",
        "security": [{ "userSession": [] }],
        "parameters": [{ "$ref": "#/components/parameters/ResourceId" }],
        "responses": { "200": { "description": "Agent revoked." } }
      }
    },
    "/v4/auth/providers": {
      "get": {
        "tags": ["Authentication"],
        "summary": "List available browser sign-in methods",
        "responses": { "200": { "description": "GitHub and configured OIDC sign-in methods." } }
      }
    },
    "/v4/auth/github/start": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Start GitHub browser sign-in",
        "responses": { "302": { "description": "Redirect to GitHub." } }
      }
    },
    "/v4/auth/github/callback": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Complete GitHub browser sign-in",
        "responses": { "302": { "description": "Set the user session cookie and redirect." } }
      }
    },
    "/v4/auth/oidc/providers": {
      "get": {
        "tags": ["Authentication"],
        "summary": "List providers enabled for OIDC sign-in",
        "responses": { "200": { "description": "Public login provider list." } }
      }
    },
    "/v4/auth/oidc/{name}/start": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Start OIDC browser sign-in",
        "parameters": [{ "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "302": { "description": "Redirect to the identity provider." } }
      }
    },
    "/v4/auth/oidc/{name}/callback": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Complete OIDC browser sign-in",
        "parameters": [{ "name": "name", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "302": { "description": "Set the user session cookie and redirect." } }
      }
    },
    "/v4/auth/oauth/{slug}/start": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Sign in through a configured OAuth provider",
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "302": { "description": "Redirect to the provider." } }
      }
    },
    "/v4/auth/me": {
      "get": {
        "tags": ["User"],
        "summary": "Inspect the current user session",
        "description": "Returns the signed-in Human user_id and the server-side role (user or admin). Role is never taken from the client.",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "Authentication status, user ID, and role." } }
      }
    },
    "/v4/auth/logout": {
      "post": {
        "tags": ["User"],
        "summary": "Revoke the current user session",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "Logged out." } }
      }
    },
    "/v4/admin/bootstrap": {
      "post": {
        "tags": ["Service"],
        "summary": "Promote the first Human user to admin",
        "description": "One-time bootstrap. Requires the service credential and a user that already exists. Disabled once any admin exists. Does not create a Human session.",
        "security": [{ "serviceToken": [] }],
        "responses": {
          "200": { "description": "User promoted to admin." },
          "401": { "description": "Invalid service credential." },
          "404": { "description": "Target user does not exist." },
          "409": { "description": "Bootstrap disabled because an admin already exists." }
        }
      }
    },
    "/v4/admin/users/promote": {
      "post": {
        "tags": ["Operator"],
        "summary": "Grant admin role to an existing user",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "User is now admin." }, "403": { "description": "Caller is not an admin." } }
      }
    },
    "/v4/admin/users/demote": {
      "post": {
        "tags": ["Operator"],
        "summary": "Remove admin role from a user",
        "description": "Refuses to remove the last remaining admin.",
        "security": [{ "userSession": [] }],
        "responses": { "200": { "description": "User is now a regular user." }, "409": { "description": "Cannot remove the last admin." } }
      }
    },
    "/v4/admin/oidc/providers": {
      "post": {
        "tags": ["Operator"],
        "summary": "Enable a provider for browser sign-in",
        "description": "Registers the provider in the provider registry (or upgrades the existing entry with the same slug) and marks it usable as a console login identity provider.",
        "security": [{ "userSession": [] }],
        "responses": { "201": { "description": "Login provider registered." } }
      }
    }
  }
}
