{
  "openapi": "3.1.0",
  "info": {
    "title": "CNothing Execution Trust Layer API (v3)",
    "version": "3.2.0",
    "description": "Execution Trust Layer for AI Agents. Canonical secretless invoke: POST /api/v3/capabilities/{capabilityId}/invoke. Alias: POST /v3/capabilities/{capabilityId}/invoke. Compatibility: POST /v3/agent/invoke (body.capability). Agent-facing endpoints never return OAuth tokens, refresh tokens, client secrets, API keys, cookies, or passwords. Secrets stay in cnothing."
  },
  "servers": [{ "url": "https://cnothing.com" }],
  "tags": [
    { "name": "Execution", "description": "Canonical Capability Invocation Gateway (/api/v3)" },
    { "name": "Platform", "description": "Trust Broker platform status" },
    { "name": "Agent", "description": "Agent-facing Trust Broker API (compatibility + grants)" },
    { "name": "Providers", "description": "Universal Provider Registry" },
    { "name": "OAuth", "description": "OAuth/OIDC Broker for user connections" },
    { "name": "Import", "description": "OpenAPI / MCP capability import" },
    { "name": "Admin", "description": "Administrative APIs (metadata only for vault)" }
  ],
  "components": {
    "securitySchemes": {
      "AgentBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Agent access token"
      },
      "UserSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "cnothing_session"
      },
      "AdminBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Admin bearer token"
      }
    },
    "schemas": {
      "ProviderProposal": {
        "type": "object",
        "description": "Public metadata only — never includes secrets",
        "properties": {
          "id": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["pending", "validated", "created", "rejected", "failed"]
          },
          "provider_name": { "type": "string" },
          "proposed_slug": { "type": "string" },
          "provider_id": { "type": "string", "nullable": true },
          "connectable": { "type": "boolean" },
          "credential_setup_required": { "type": "boolean" },
          "scopes": { "type": "array", "items": { "type": "string" } }
        }
      },
      "ProviderProposalRequest": {
        "type": "object",
        "required": ["provider_name"],
        "properties": {
          "provider_name": { "type": "string" },
          "issuer_url": { "type": "string", "format": "uri" },
          "discovery_url": { "type": "string", "format": "uri" },
          "authorization_url": { "type": "string", "format": "uri" },
          "token_url": { "type": "string", "format": "uri" },
          "jwks_url": { "type": "string", "format": "uri" },
          "userinfo_url": { "type": "string", "format": "uri" },
          "registration_endpoint": { "type": "string", "format": "uri" },
          "openapi_url": { "type": "string", "format": "uri" },
          "mcp_url": { "type": "string", "format": "uri" },
          "scopes": { "type": "array", "items": { "type": "string" } },
          "description": { "type": "string" },
          "logo_url": { "type": "string", "format": "uri" },
          "api_base_url": { "type": "string", "format": "uri" },
          "risk_suggestion": { "type": "string" },
          "slug": { "type": "string" }
        }
      },
      "AgentCapability": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "display_name": { "type": "string" },
          "description": { "type": "string" },
          "capability_type": { "type": "string" },
          "risk_level": { "type": "string" },
          "required_scopes": { "type": "array", "items": { "type": "string" } },
          "authorized": { "type": "boolean" }
        }
      },
      "InvokeRequest": {
        "type": "object",
        "required": ["capability"],
        "deprecated": true,
        "description": "Legacy body for POST /v3/agent/invoke. Prefer POST /api/v3/capabilities/{capabilityId}/invoke.",
        "properties": {
          "capability": { "type": "string" },
          "input": { "type": "object" },
          "confirmation_id": { "type": "string" },
          "reason": { "type": "string" },
          "user_id": { "type": "string" },
          "idempotency_key": { "type": "string" },
          "dry_run": { "type": "boolean" }
        }
      },
      "CapabilityInvokeRequest": {
        "type": "object",
        "description": "Body for canonical capability invoke. capabilityId is in the URL path — never send secrets.",
        "properties": {
          "agent_id": { "type": "string", "description": "Optional; must match authenticated agent if present" },
          "user_id": { "type": "string" },
          "input": { "type": "object" },
          "idempotency_key": { "type": "string" },
          "dry_run": { "type": "boolean", "default": false },
          "approval_id": { "type": "string", "description": "Resume after human approval" },
          "timeout_ms": { "type": "integer", "maximum": 300000 }
        }
      },
      "CapabilityInvokeResponse": {
        "type": "object",
        "description": "Sanitized invoke result. status is completed | pending_approval | denied | reconnect_required | failed. Never includes secrets.",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["completed", "pending_approval", "denied", "reconnect_required", "failed"]
          },
          "execution_id": { "type": "string" },
          "audit_chain_id": { "type": "string" },
          "result": { "type": "object", "description": "Present when status=completed (sanitized)" },
          "approval_id": { "type": "string" },
          "approval_url": { "type": "string", "format": "uri" },
          "safe_summary": { "type": "string" },
          "connection_url": { "type": "string", "format": "uri" },
          "error": {
            "type": "object",
            "properties": {
              "code": { "type": "string" },
              "message": { "type": "string" },
              "recoverable": { "type": "boolean" }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/v3/capabilities/{capabilityId}/invoke": {
      "post": {
        "tags": ["Execution"],
        "operationId": "invokeCapability",
        "summary": "Canonical secretless capability invoke (Execution Trust Layer)",
        "description": "Preferred invoke endpoint. URL identifies the capability for rate limiting, SDK generation, gateway policy, and audit tracing. Agent never receives secrets.",
        "security": [{ "AgentBearer": [] }],
        "parameters": [
          {
            "name": "capabilityId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Capability id or name (e.g. github.create_repo)"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CapabilityInvokeRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "completed (sanitized result) or dry_run",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CapabilityInvokeResponse" }
              }
            }
          },
          "202": { "description": "pending_approval" },
          "400": { "description": "failed / timeout" },
          "403": { "description": "denied by policy (status=denied)" },
          "409": { "description": "reconnect_required" }
        }
      }
    },
    "/v3/capabilities/{capabilityId}/invoke": {
      "post": {
        "tags": ["Execution"],
        "operationId": "invokeCapabilityV3Alias",
        "summary": "Alias of canonical capability invoke",
        "description": "Compatibility alias that rewrites to POST /api/v3/capabilities/{capabilityId}/invoke.",
        "security": [{ "AgentBearer": [] }],
        "parameters": [
          {
            "name": "capabilityId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CapabilityInvokeRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "completed (sanitized result)" },
          "202": { "description": "pending_approval" },
          "403": { "description": "denied" },
          "409": { "description": "reconnect_required" }
        }
      }
    },
    "/api/v3/openapi.json": {
      "get": {
        "tags": ["Execution"],
        "summary": "Execution Trust Layer OpenAPI (gateway surface)",
        "responses": { "200": { "description": "OpenAPI document for /api/v3/*" } }
      }
    },
    "/v3/platform/status": {
      "get": {
        "tags": ["Platform"],
        "summary": "Trust Broker platform status",
        "responses": {
          "200": {
            "description": "Platform modules and counts"
          }
        }
      }
    },
    "/v3/providers/proposals": {
      "post": {
        "tags": ["Providers"],
        "summary": "Agent submits a provider proposal (auto-discovery, no human confirmation)",
        "security": [{ "AgentBearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ProviderProposalRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Proposal processed — provider may be auto-created"
          }
        }
      }
    },
    "/v3/providers/proposals/{id}": {
      "get": {
        "tags": ["Providers"],
        "summary": "Get provider proposal status",
        "security": [{ "AgentBearer": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Proposal status" } }
      }
    },
    "/v3/providers": {
      "get": {
        "tags": ["Providers"],
        "summary": "List public provider metadata",
        "responses": { "200": { "description": "Provider list (no secrets)" } }
      }
    },
    "/v3/agent/capabilities": {
      "get": {
        "tags": ["Agent"],
        "summary": "List capabilities available to agent",
        "security": [{ "AgentBearer": [] }],
        "responses": { "200": { "description": "Capability list" } }
      }
    },
    "/v3/agent/authorizations": {
      "post": {
        "tags": ["Agent"],
        "summary": "Request user authorization for a capability",
        "security": [{ "AgentBearer": [] }],
        "responses": { "201": { "description": "Authorization request created" } }
      }
    },
    "/v3/agent/invoke": {
      "post": {
        "tags": ["Agent"],
        "deprecated": true,
        "operationId": "invokeCapabilityLegacyAgent",
        "summary": "Compatibility alias — prefer POST /api/v3/capabilities/{capabilityId}/invoke",
        "description": "Legacy Trust Broker invoke. Pass capability in the request body. New agents and SDKs should use the canonical capability-scoped path.",
        "security": [{ "AgentBearer": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InvokeRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Business result only — no secrets" },
          "202": { "description": "Pending user confirmation / approval" },
          "403": { "description": "Authorization required or policy denied" }
        }
      }
    },
    "/v3/oauth/connect/start": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Start user OAuth connection",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Authorization URL for user login" } }
      }
    },
    "/v3/oauth/device/start": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Start OAuth 2.0 Device Authorization Flow",
        "security": [{ "UserSession": [] }],
        "responses": { "201": { "description": "Device flow session with user_code" } }
      }
    },
    "/v3/oauth/device/poll": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Poll device flow until authorized",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "pending | completed | expired | denied" } }
      }
    },
    "/v3/auth/login-tokens": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Issue one-time user login token (admin)",
        "security": [{ "AdminBearer": [] }],
        "responses": { "201": { "description": "Login token issued" } }
      }
    },
    "/v3/auth/login": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Exchange login token for user session",
        "responses": { "200": { "description": "User session created (Set-Cookie)" } }
      }
    },
    "/v3/auth/logout": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Revoke user session",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Session revoked" } }
      }
    },
    "/v3/auth/me": {
      "get": {
        "tags": ["OAuth"],
        "summary": "Current user session",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Session metadata" } }
      }
    },
    "/v3/auth/providers": {
      "get": {
        "tags": ["OAuth"],
        "summary": "List identity providers for Console sign-in",
        "responses": { "200": { "description": "GitHub / OIDC providers" } }
      }
    },
    "/v3/authorize/{id}": {
      "get": {
        "tags": ["OAuth"],
        "summary": "View authorization request (user approval UI)",
        "responses": { "200": { "description": "Authorization request details" } }
      }
    },
    "/v3/authorize/approve": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Approve capability authorization request",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Authorization approved" } }
      }
    },
    "/v3/authorize/deny": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Deny capability authorization request",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Authorization denied" } }
      }
    },
    "/v3/approve/{authorizationId}": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Approve agent authorization with OAuth connection",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Grant approved with connection" } }
      }
    },
    "/v3/confirmations/pending": {
      "get": {
        "tags": ["OAuth"],
        "summary": "List pending high-risk invoke confirmations",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Pending confirmations" } }
      }
    },
    "/v3/confirmations/approve": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Approve pending invoke confirmation",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Confirmation approved" } }
      }
    },
    "/v3/confirmations/reject": {
      "post": {
        "tags": ["OAuth"],
        "summary": "Reject pending invoke confirmation",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Confirmation rejected" } }
      }
    },
    "/v3/agents/register": {
      "post": {
        "tags": ["Admin"],
        "summary": "Register agent (admin)",
        "security": [{ "AdminBearer": [] }],
        "responses": { "201": { "description": "Agent registered with access token" } }
      }
    },
    "/v3/agents": {
      "get": {
        "tags": ["Admin"],
        "summary": "List agents",
        "security": [{ "AdminBearer": [] }],
        "responses": { "200": { "description": "Agent list" } }
      }
    },
    "/v3/grants": {
      "get": {
        "tags": ["Admin"],
        "summary": "List grants",
        "security": [{ "AdminBearer": [] }],
        "responses": { "200": { "description": "Grant list" } }
      },
      "post": {
        "tags": ["Admin"],
        "summary": "Create grant",
        "security": [{ "AdminBearer": [] }],
        "responses": { "201": { "description": "Grant created" } }
      }
    },
    "/v3/grants/revoke": {
      "post": {
        "tags": ["Admin"],
        "summary": "Revoke grant",
        "security": [{ "AdminBearer": [] }],
        "responses": { "200": { "description": "Grant revoked" } }
      }
    },
    "/v3/agent/grants": {
      "get": {
        "tags": ["Agent"],
        "summary": "List grants for agent",
        "security": [{ "AgentBearer": [] }],
        "responses": { "200": { "description": "Grant list (no secrets)" } }
      }
    },
    "/v3/agent/grants/revoke": {
      "post": {
        "tags": ["Agent"],
        "summary": "Revoke grant owned by agent",
        "security": [{ "AgentBearer": [] }],
        "responses": { "200": { "description": "Grant revoked" } }
      }
    },
    "/v3/capabilities": {
      "get": {
        "tags": ["Admin"],
        "summary": "List all capabilities (admin)",
        "security": [{ "AdminBearer": [] }],
        "responses": { "200": { "description": "Capability list with scopes" } }
      }
    },
    "/v3/import/openapi": {
      "post": {
        "tags": ["Import"],
        "summary": "Submit OpenAPI URL or document for capability generation",
        "security": [{ "AgentBearer": [] }, { "AdminBearer": [] }],
        "responses": { "201": { "description": "Import job created" } }
      }
    },
    "/v3/import/mcp": {
      "post": {
        "tags": ["Import"],
        "summary": "Submit MCP URL for capability generation",
        "security": [{ "AgentBearer": [] }, { "AdminBearer": [] }],
        "responses": { "201": { "description": "Import job created" } }
      }
    },
    "/v3/capabilities/generate-from-openapi": {
      "post": {
        "tags": ["Import"],
        "summary": "User approves OpenAPI import candidates",
        "security": [{ "UserSession": [] }],
        "responses": { "200": { "description": "Capabilities activated" } }
      }
    },
    "/v3/admin/vault/secrets": {
      "get": {
        "tags": ["Admin"],
        "summary": "List vault secret metadata (never returns plaintext)",
        "security": [{ "AdminBearer": [] }],
        "parameters": [
          { "name": "owner_type", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "owner_id", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Secret metadata list" } }
      }
    },
    "/v3/audit": {
      "get": {
        "tags": ["Admin"],
        "summary": "Trust audit log (no secrets)",
        "security": [{ "AdminBearer": [] }],
        "responses": { "200": { "description": "Audit events" } }
      }
    }
  }
}
